@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background-color:#c599ff;
  background-image:
  radial-gradient(at 32% 36%, hsla(203,97%,64%,1) 0px, transparent 50%),
  radial-gradient(at 95% 28%, hsla(163,93%,65%,1) 0px, transparent 50%),
  radial-gradient(at 44% 16%, hsla(260,70%,76%,1) 0px, transparent 50%),
  radial-gradient(at 64% 3%, hsla(79,68%,65%,1) 0px, transparent 50%);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.app {
  width: 100vw;
  max-width: 50vh;
}

.box, .box2, .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.box {
  margin: 20px;
  border-radius: 15px;
  aspect-ratio: 9/9;
}

.box p {
  font-size: 50px;
  margin: 0;
}

.box2 {
  margin: 20px;
  border-radius: 7px;
  overflow: hidden;
}

.number {
  width: 11%;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.choice {
  background-color:#c599ff;
  background-image:
  radial-gradient(at 32% 36%, hsla(203,97%,64%,1) 0px, transparent 50%),
  radial-gradient(at 95% 28%, hsla(163,93%,65%,1) 0px, transparent 50%),
  radial-gradient(at 44% 16%, hsla(260,70%,76%,1) 0px, transparent 50%),
  radial-gradient(at 64% 3%, hsla(79,68%,65%,1) 0px, transparent 50%);
}

.box3 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.btn {
  width: 30%;
  aspect-ratio: 9/9;
  border-radius: 10px;
  cursor: pointer;
}

.btn span {
  font-size: 35px;
}
